
.recipe-container {
    position: relative;
    display: inline-block;
    width: 75vw;
    border: 1px solid black;
    margin: 10px;
    margin-bottom: 50px;
    padding: 5px;
    z-index: 1;
    
    }
    
    .recipe-container::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: white;
        opacity: 0.7;
        z-index: -1;
    
    }

    .add-ingredient:active {
        color: #ADD8E6;
    }
    
 